// global colors
$BG_COLOR : rgba(102,85,85, 0.66);
$TEXT_COLOR  :  white;
$SEPARATOR_COLOR  :  rgb(78,82,81);
[data-focus='notification-center'] {
    padding: 1em 2em;
    margin: auto;
    box-sizing: border-box;
    background: $BG_COLOR;
    color: white;
    text-lign: left;
    width: 40%;
    ul {
        -webkit-padding-start: 0px;
    }
    [data-focus='notification']{
        border-top: 1px solid $SEPARATOR_COLOR;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;

        [data-focus='notification-icon']{
            width: 10%;
            flex-grow: 1;
            img{
                -webkit-filter: grayscale(0.7);
                width: 90%;
            }
        }
        [data-focus='notification-body']{
            width: 55%;
            flex-grow: 4;
            h4[data-focus='notification-title']{
                margin: 7px 0 7px;
            }
            [data-focus='notification-content']{
                max-height: 50px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                &:hover{
                    white-space: normal;
                    overflow: visible;
                    max-height: 200px;

                }
            }
        }
        //On hover on the line, the date is hidden and the button is visible.
        &:hover {
            div[data-focus='notification-date'] {
                button {
                    display: inline-flex;
                }
                div{
                    display: none;
                }
            }
        }
        [data-focus='notification-date']{
            width: 15%;
            button{
                display: none;
            }

            //flex-grow: 1;
        }
    }

};
