ul[data-focus='notification-receiver']{
    width: 33%;
    //height: 100%;
    overflow-y: scroll;
    top: 60px;
    right: 10px;
    z-index: 7777;
    max-width: 500px;
    min-width: 200px;
    position: absolute;

    -webkit-padding-start: 0px;
     list-style-type: none;
    [data-focus='notification-received']{
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        background-color: rgba(148, 148, 148, 0.5);
        [data-focus='notification-icon']{
            width: 20%;
            img{
                -webkit-filter: grayscale(0.7x);
                width: 90%;
            }
        }
        [data-focus='notification-body']{
            width: 70%;
            h4[data-focus='notification-title']{
                font-size: 19px;
                margin: 3px 0 3px;
            }
            [data-focus='notification-content']{
                text-overflow-multiline:ellipsis;
                width: 100%;
                //max-height: 50px;
            //    white-space: nowrap;
                overflow: hidden;
            }
        }
        div[data-focus='notification-action'] {
            //display: none;
            text-align: center;
            width: 10%;
            display: block;
            button {
                display: inline-flex;
            }
        }
        //On hover on the line, the date is hidden and the button is visible.
        &:hover {
            div[data-focus='notification-body']{
                width: 70%;
            }
            div[data-focus='notification-action'] {
                display: block;
            }
        }
    }
}
